/** Hide out of view. */
#photo {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

#video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#capture-btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 5px solid #fff;
    border-radius: 50%;
    opacity: 0.5;
}

/* #capture-btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #fff;
} */